
.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timer {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: purple;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  button:hover {
    background-color: pink;
  }

  button:active {
    background-color: #005cbf;
  }
